$colors: (
  whitee: #fff,
  black: #000,
  teal: #ccc
)

$fonts: (
  sans: Sans,
  antonio: Antonio,
  economica: Economica,
  trebu: trebuchet
)

$aling:(
  left: left,
  center: center,
  right: right
)

//media breakpoint
@mixin breakpoint($point) 
  @if $point == wide_tablet 
    @media (max-width: 1024px)  
      @content 
  @else if $point == tablet 
    @media (min-width: 768px) and (max-width: 1023px)    
      @content 
  @else if $point == wide_phone 
    @media (min-width: 480px) and (max-width: 767px)  
      @content
  @else if $point == phone
    @media (min-width: 320px) and (max-width: 479px)  
      @content  

//Asignacion de valores para color,font-family,text-aling
@function color($key) 
  @if map-has-key($colors, $key) 
    @return map-get($colors, $key)
 
  @warn "Unknown `#{$key}` in $colors."
  @return null

@function family($key) 
  @if map-has-key($fonts, $key) 
    @return map-get($fonts, $key)

  @warn "Unknown `#{$key}` in $fonts."
  @return null

@function aling($key) 
  @if map-has-key($aling, $key) 
    @return map-get($aling, $key)

  @warn "Unknown `#{$key}` in $aling."
  @return null


//style content
@mixin styletext($selector,$option)
  if $option == one 
    #{$selector}
      color: color(teal)
      font-family: family(Antonio)
      font-size: +adjust-font-size-to(16px)
      text-align: aling(left)
      
  else if $option == two
    #{$selector}
      color: color(teal)
      font-family: family(Antonio)
      font-size: +adjust-font-size-to(16px)
      text-align: aling(left)

  else if $option == three
    #{$selector}
      color: color(teal)
      font-family: family(Antonio)
      font-size: +adjust-font-size-to(16px)
      text-align: aling(left)

@mixin links($selector)
  #{$selector}
    @include styletext
    @content 

@mixin different-links 
  a 
    color:
    background:
  
@mixin list($selector)
  #{$selector}
    list-style-type: none 
    margin: 0
    li
      padding:
      margin: 
      a
        @include links  


//slider con  caption
@mixin slider($selector) 
  #{$selector}
    .flexslider
    margin: 0
    border: none
  #content-slide
    position: relative
    .unstyled
      margin: 0 !important
      li
        margin: 0 !important
  section.ba-section-summary
    position: absolute
    z-index: 99999
    right: 0
    top: 20%
    width: 50%
    @include breakpoint(tablet)
      top: 5%
    @include breakpoint(wide_phone)
      top: 5%
    @include breakpoint(phone)
      top: 5%
